In [1]:
# !pip install pandas
# !pip install plotly
# !pip install matplotlib

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Step 1 Import historical price data

Read in the data file

In [13]:
df = pd.read_csv("sakura_data.csv")
col = list(df.columns)
df.head()

,Date,mar_Open,mar_High,mar_Low,mar_Close,mar_Volume,mar_TWAP,mar_VWAP,mar_PreviousCloseDate,hlt_Open,hlt_High,hlt_Low,hlt_Close,hlt_Volume,hlt_TWAP,hlt_VWAP,hlt_PreviousCloseDate
0,2022-04-14,154.46,157.33,153.900,155.58,2351189,156.193286,156.097372,2022-04-13,176.20,181.52,176.20,180.51,3631673,179.825305,179.751564,2022-04-13
1,2022-04-13,146.41,154.28,145.670,153.93,2502524,152.220619,152.227673,2022-04-12,164.16,176.25,164.01,175.54,3343813,173.458879,173.566893,2022-04-12
2,2022-04-12,145.00,146.95,143.855,144.88,1698245,145.151792,145.136644,2022-04-11,164.63,165.96,162.28,163.24,1549813,164.137751,164.134370,2022-04-11
3,2022-04-11,144.30,147.19,143.630,143.70,1165117,144.762850,144.639514,2022-04-08,161.96,165.56,161.66,162.45,1402520,163.266856,163.091197,2022-04-08
4,2022-04-08,144.71,147.05,143.835,145.48,1646722,145.905663,145.688317,2022-04-07,163.61,165.31,162.40,163.86,1522384,164.147805,164.046751,2022-04-07

Read Marriott and Hilton's data into different Data frame

In [4]:
col_mar = col[:9]
col_hlt = col[-8:]
col_hlt.insert(0,"Date")
df_mar = pd.read_csv("sakura_data.csv",usecols=col_mar)
df_hlt = pd.read_csv("sakura_data.csv",usecols=col_hlt)
# print(df_mar.head())
# print(df_hlt.head())

## Step 2 Set parameters
x, threshold

In [5]:
x = 1
THRESHOLD = 1.5

## Step 3 Calculate Spread, Standard Deviation of spread and Long Term Mean

In [6]:
spread = np.log(df.mar_Close/df.hlt_Close**x)
# print(spread)
# print(type(spread))
window_size = 250
std_spread = pd.Series(spread[1:]).rolling(window_size).std(ddof=1)
std_spread = np.asarray(std_spread[window_size-1:-1])
# print(std_spread)
lt_mean_spread = pd.Series(spread[1:]).rolling(window_size).mean()
lt_mean_spread = np.asarray(lt_mean_spread[window_size-1:-1])
# print(lt_mean_spread)
# print(type(std_spread))
# lt_mean_spread

In [15]:
df['spread'] = np.log(df.mar_Close/df.hlt_Close**x)
df

,Date,mar_Open,mar_High,mar_Low,mar_Close,mar_Volume,mar_TWAP,mar_VWAP,mar_PreviousCloseDate,hlt_Open,hlt_High,hlt_Low,hlt_Close,hlt_Volume,hlt_TWAP,hlt_VWAP,hlt_PreviousCloseDate,spread
0,2022-04-14,154.46,157.330,153.900,155.58,2351189,156.193286,156.097372,2022-04-13,176.20,181.520,176.200,180.51,3631673,179.825305,179.751564,2022-04-13,-0.148626
1,2022-04-13,146.41,154.280,145.670,153.93,2502524,152.220619,152.227673,2022-04-12,164.16,176.250,164.010,175.54,3343813,173.458879,173.566893,2022-04-12,-0.131369
2,2022-04-12,145.00,146.950,143.855,144.88,1698245,145.151792,145.136644,2022-04-11,164.63,165.960,162.280,163.24,1549813,164.137751,164.134370,2022-04-11,-0.119316
3,2022-04-11,144.30,147.190,143.630,143.70,1165117,144.762850,144.639514,2022-04-08,161.96,165.560,161.660,162.45,1402520,163.266856,163.091197,2022-04-08,-0.122642
4,2022-04-08,144.71,147.050,143.835,145.48,1646722,145.905663,145.688317,2022-04-07,163.61,165.310,162.400,163.86,1522384,164.147805,164.046751,2022-04-07,-0.118974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,2017-01-09,57.30,57.300,56.480,56.96,3921784,57.041195,57.027859,2017-01-06,82.05,82.700,81.600,82.25,2643139,82.292654,82.283683,2017-01-06,-0.367414
1327,2017-01-06,57.18,57.560,56.230,57.47,3358993,57.072050,57.085309,2017-01-05,81.79,83.020,81.325,82.30,2306221,82.353798,82.343484,2017-01-05,-0.359108
1328,2017-01-05,58.06,58.420,56.840,57.32,5122197,57.567532,57.542856,2017-01-04,82.07,83.070,81.660,81.78,2828243,82.108710,82.093740,2017-01-04,-0.355383
1329,2017-01-04,57.30,59.755,57.300,58.00,5614786,58.553356,58.563773,2017-01-03,82.74,83.395,82.250,82.34,4016215,82.566185,82.500310,2017-01-03,-0.350414
1330,2017-01-03,27.57,27.620,27.000,27.39,6829108,27.254754,27.282810,2016-12-30,83.35,83.850,81.710,82.50,3277092,82.573600,82.575523,2016-12-30,-1.102620

## Step 4 Calculate Entry Signal

In [ ]:
low = lt_mean_spread - THRESHOLD * std_spread
go_down = spread[:len(lt_mean_spread)] < low
high = lt_mean_spread + THRESHOLD * std_spread
go_up = spread[:len(lt_mean_spread)] > high
date = df_mar.Date[:len(lt_mean_spread)]
hlt_Open = df_hlt.hlt_Open[:len(lt_mean_spread)]
mar_Open = df_mar.mar_Open[:len(lt_mean_spread)]

mydf = pd.DataFrame(data = date)
mydf['Low'] = go_down
mydf['High'] = go_up
mydf['hlt_Open'] = hlt_Open
mydf['mar_Open'] = mar_Open
mydf = mydf.reset_index()  # make sure indexes pair with number of rows

In [ ]:
plt.figure(figsize=(20,15))
plt.plot(spread[:len(lt_mean_spread)])
plt.plot(low, linestyle='--')
plt.plot(high,linestyle='--')

## Step 5 Output as a Blotter
Reference: <a href="https://pypi.org/project/QTPyLib/" target="_blank">QTPyLib 1.5.83</a>.

In [ ]:
# !pip install blotter

In [ ]:

blotter = pd.DataFrame(
    columns=['date', 'trip', 'action', 'ticker', 'size',
             'price', 'status']
)
for index, row in mydf.iterrows():
    if row["Low"] == True:
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'BUY', 'MAR', 1, row["mar_Open"], 'FILLED']
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'SELL', 'HIT', 1, row["hlt_Open"], 'FILLED']
    elif row["High"] == True:
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'SELL', 'MAR', 1, row["mar_Open"], 'FILLED']
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'BUY', 'HIT', 1, row["hlt_Open"], 'FILLED']

In [12]:

blotter = pd.DataFrame(
    columns=['date', 'trip', 'action', 'ticker', 'size',
             'price', 'status']
)
for index, row in mydf.iterrows():
    if row["Low"] == True:
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'BUY', 'MAR', 1, row["mar_Open"], 'FILLED']
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'SELL', 'HIT', 1, row["hlt_Open"], 'FILLED']
    elif row["High"] == True:
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'SELL', 'MAR', 1, row["mar_Open"], 'FILLED']
        blotter.loc[len(blotter.index)] = [row["Date"], 'Open', 'BUY', 'HIT', 1, row["hlt_Open"], 'FILLED']

           date  trip action ticker  size   price  status
0    2022-01-03  Open   SELL    MAR     1  155.95  FILLED
1    2022-01-03  Open    BUY    HIT     1  165.07  FILLED
2    2021-12-31  Open   SELL    MAR     1  154.83  FILLED
3    2021-12-31  Open    BUY    HIT     1  164.85  FILLED
4    2021-12-30  Open   SELL    MAR     1  155.38  FILLED
..          ...   ...    ...    ...   ...     ...     ...
683  2018-02-01  Open   SELL    HIT     1  146.60  FILLED
684  2018-01-31  Open    BUY    MAR     1   86.52  FILLED
685  2018-01-31  Open   SELL    HIT     1  147.42  FILLED
686  2018-01-30  Open    BUY    MAR     1   86.50  FILLED
687  2018-01-30  Open   SELL    HIT     1  148.22  FILLED

[688 rows x 7 columns]